.decor {
  position: relative;
  padding: 170px 0 155px;
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__title {
    position: relative;
    max-width: 540px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    &::after {
      @include bottom-line;
    }
  }
  &__text {
    max-width: 540px;
  }
}
