@media (max-width: 1366px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }

  .map {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .top {
    &__slider {
      &-title {
        font-size: 62px;
        line-height: 74px;
      }
      &-img {
        height: 640px;
      }
    }
  }

  .blog__inner {
    grid-template-columns: 100%;
  }

  .aside {
    max-width: unset;
    grid-row: 1 / 2;
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .about__content {
    padding: 40px 0;
  }

  .about__content-text {
    margin-left: unset;
  }

  .footer {
    &__info {
      width: 380px;
    }
  }
}

@media (max-width: 840px) {
  .top {
    &__slider {
      &-title {
        font-size: 44px;
        line-height: 54px;
      }
      &-img {
        height: 540px;
      }
    }
  }

  .collection {
    grid-template-columns: repeat(2, 1fr);
  }

  .works-path {
    &__item {
      width: 350px;
      &--production {
        margin-left: 50px;
      }

      &--measurements {
        margin-left: 100px;
      }
    }
  }

  .contacts__descr {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .header__btn {
    display: none;
  }

  .menu__list {
    gap: 0 40px;
  }

  .decor {
    padding: 70px 0 55px;
  }

  .inspiration__images {
    display: none;
  }

  .partners__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .map {
    iframe {
      height: 300px;
    }
  }

  // Footer

  .footer {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__info {
      width: 100%;
      max-width: unset;
      margin-bottom: 50px;

      &-text {
        max-width: 100%;
      }
    }

    &__social {
      margin-left: auto;
    }

    &__menu {
      margin-right: auto;
    }
  }

  .about {
    &__prev {
      padding: 80px 0;
    }
  }
}

@media (max-width: 650px) {
  .top {
    &__inner {
      padding-top: 30px;
      padding-bottom: 25px;
    }

    &__slider {
      &-item {
        margin-left: unset;
        padding-bottom: 30px;
      }
      &-img {
        display: none;
      }

      &-text {
        margin-bottom: 15px;
      }
    }
  }

  .works-path {
    padding: 40px 0 0;
  }

  .works-path__item--production::before,
  .works-path__item--measurements ::before,
  .works-path__items-box::before {
    display: none;
  }

  .works-path__items-box {
    border-bottom: unset;
  }

  .works-path__item--measurements {
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 38px;
  }

  .works-path__items-box {
    display: block;
  }

  .works-path__item--production {
    margin-left: 0;
  }

  .works-path__item {
    width: 100%;
  }

  .gallery {
    padding: 80px 0 45px;
  }

  .gallery__buttons {
    display: grid;
    gap: 10px;
  }

  .gallery__btn {
    margin: unset;
  }

  .gallery__items {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }

  .gallery__item {
    grid-column: unset !important;
    grid-row: unset !important;
  }

  .blog-box {
    margin-bottom: 50px;
  }

  .blog-box__items {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .contacts__form-input {
    width: 100%;
    max-width: unset;
  }
}

@media (max-width: 540px) {
  .header {
    &__inner {
      flex-wrap: wrap;
      padding-top: 42px;
    }
  }

  .logo {
    order: -1;
    margin: unset;
    padding: unset;
    position: relative;
    z-index: 12;
  }

  .menu {
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 11;
    transform: translateY(-350px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

    &--open {
      transform: translateY(30px);
      visibility: visible;
      opacity: 1;
    }
  }

  .menu__list {
    display: block;
    text-align: center;

    &-link {
      display: block;
      padding: 20px 0;
    }
  }

  .header__btn-menu {
    display: block;
    order: -1;
    position: relative;
    z-index: 12;
  }

  .collection {
    grid-template-columns: 1fr;
  }

  .contacts-slider {
    padding-bottom: 50px;

    &__swiper-slide {
      height: 260px !important;
    }
  }
}

@media (max-width: 375px) {
  .footer {
    &__form {
      display: block;

      &-button {
        width: 100%;
        margin-top: 10px;
      }
    }
    &__social {
      margin-left: 0;
    }

    &__menu {
      margin-right: 0;
    }
  }
}
