.new-collection {
  text-align: center;
  padding: 45px 0 35px;

  &__title {
    display: inline-block;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: rgb(109, 114, 120);
      width: 50%;
      height: 2px;
    }
  }

  &__text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}


