.rightside-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 694px;
  width: 100%;
  background-color: white;
  padding: 40px 50px;
  box-shadow: -2px 3px 17px 0 #000;
  transition: 0.5s;
  z-index: 10;
  &.rightside-menu--close {
    transform: translateX(500%);
  }

  &__close {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 60px;
    cursor: pointer;
    width: 26px;
    height: 26px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 485px;
    margin: 0 auto;
  }

  &__logo {
    margin-bottom: 40px;
  }

  &__title {
    position: relative;
    color: var(--title-color);
    @include title-font;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 40px;

    &::before {
      position: absolute;
      content: "";
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 1px;
      border: 1px solid rgb(151, 151, 151);
      background: rgb(109, 114, 120);
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 75px;
  }

  &__images {
    width: 100%;
  }
}
