<header class="header">
  <div class="container">
    <div class="header__inner">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">About</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Gallery</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="logo">
        <picture>
          <source srcset="images/logo.avif" type="image/avif" />
          <source srcset="images/logo.webp" type="image/webp" />
          <img src="images/logo.png" alt="Logo" />
        </picture>
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Blog</a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="header__btn">
        <img src="images/icon_menu.svg" alt="icon menu" />
      </button>
    </div>
  </div>
</header>
