html,
body {
  height: 100%;
}

body {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--general-light-bg);
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: rgb(54, 56, 56) !important;
  opacity: 1 !important;
  margin: 0 15px !important;

  &-active{
    background: rgb(255, 239, 53) !important;
  }
}
