.header {
  padding: 45px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    margin-left: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 0 80px;

    &-link {
      @extend %title-font;
      color: rgba(54, 56, 56, 0.9);
    }
  }
}

.logo {
  margin: 0 auto;
}
